[Desktop Entry]
Name=Wofi Bitwarden Menu
Comment=Menu hecho en wofi para acceder a los datos guardados en Bitwarden
Exec=bwmenu
Icon=wofi-bitwarden-menu
Terminal=false
Type=Application
Categories=Utility;PasswordManager;
Keywords=bitwarden;wofi;password;menu;
